# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# System
.DS_Store

# Dataset & generated data
data/
dataset/

# Tracking outputs
tracked_output/

# Tracking outputs
tracked_output/


# Ignore YOLO weights only
*.p